body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(180, 180, 180, 0.2);
}

.login-form {
  margin: auto auto;
  height: 187px;
  width: 330px;
  position: relative;
  top: 50%;
  padding: 15px;
  transform: translateY(-100%);
  color: #777;
}

.login-form .form-signin-heading,
.login-form .checkbox {
  margin-bottom: 10px;
}

.login-form .checkbox {
  font-weight: normal;
}

.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.login-form .form-control:focus {
  z-index: 2;
}

.login-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-form input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.help-block {
  display: none;
}

.login-form label {
  display: none;
}

.login-form .info {
  display: none;
}