html {
  height: 100%;
}

header {
  height: 55px;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(240, 240, 240, 1);
  border: 1px solid rgba(0, 0, 0, .05);
}

button {
  cursor: pointer;
}

.my-navbar-header {
}

.my-navbar-header:hover {
  background-color: rgba(219, 219, 219, 0.5);
}

.my-navbar-brand {
  float: left;
  height: 54px;
  padding: 13px 15px;
  font-size: 18px;
  width: 115px;
}

.modal-button {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 2px;
  box-shadow: none;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
}

.modal-save-button {
  background-color: rgba(0, 0, 30, .1);
}

#myModalLabel {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

#attach-tags-dropdown {
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .05);
  background-image: none;
  font-family: "Open Sans", sans-serif;
  text-shadow: none;
  border-radius: 5px;
  font-size: 20px;
  color: #777;
  border: none;
}

#attach-tags-dropdown:hover {
  background-color: rgba(0, 0, 0, .05);
}

#attached_tags_container {
  background-color: rgba(0, 0, 0, .08);
}

.attached-tag {
  margin: 5px 0;
}

#my-modal-content {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  color: #777;
}

#burger-dropdown {
  background-color: rgba(236, 236, 236, 1);
}

#burger-dropdown li {
}

.header-logo-image {
  height: 50px;
  margin-top: -2px;
  float: left;
  margin-right: 5px;
  text-decoration: none;
  outline: none;
  float: left;
  display: block;
}

#analog-clock-switch-checkbox {
  margin-right: 5px;
}

#analog-clock-switch-checkbox-label {
  font-weight: normal;
}

.header-logo-text {
  font-size: 22px;
  margin-left: 5px;
  outline: none;
  text-decoration: none;
  color: #777;
  float: left;
  line-height: 24px;
  display: block;
}

#no-margin-navbar {
  margin-bottom: 0;
}

#main_body {
  height: inherit;
  background-color: rgba(180, 180, 180, 0.2);
}

.middle-part {
  float: left;
  width: 548px;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, .05);
  height: 100%;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .14);
  overflow-y: scroll;
  overflow-x: hidden;
}

.goals-list-side {
  width: 100%;
  float: left;
}

.tasks-list-side {
  width: 100%;
  float: left;
}

.no-events-task {
  border-radius: 0px;
}

.task, .task-tag-inner {
  font-size: 18px;
  font-family: "Droid Serif", "Helvetica Neue", serif;
  border-radius: 5px;
  margin-right: 5px;
}

.task, .goal {
  padding: 5px 10px;
  float: left;
  width: 100%;
  text-align: center;

  font-size: 18px;
  font-family: "Droid Serif", "Helvetica Neue", serif;
  border-radius: 5px;
  color: rgba(0, 0, 0, .5);
  margin-right: 5px;
  margin-bottom: 5px;
}

.task-tag {
  display: none;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, .03);
}

.task-tag-inner {
  text-align: left;
  float: left;
  padding: 0 10px;
}

.task-list-input {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 10px;
  margin-left: 5px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  outline: none;
}

.task-list-input:hover {
  border-top: 1px solid rgba(255, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.task-period-duration-text, .task-period-from-to-time {
  background-color: rgba(0, 0, 0, .00);
  width: 77px;
  font-weight: normal;
}

.task-period-from-to-time-description {
  background-color: rgba(0, 0, 0, .00);
  margin: 0 0;
  padding: 0 0;
  width: 220px;
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.task-period-duration-text {
  float: left;
}

.task-period-from-to-time {
  float: right;
}

.task-period-duration-text {
  margin-left: 0px;
}

.task-simple {
}

.task-continue-period {
}

.task-dragged-period {
}

#clock_canvas {
  margin-top: 20px;
  margin-right: 25px;
  float: left;
  border-radius: 20px;
  padding: 7px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#analog-clock-switch {
}

.header-checkbox.checkbox {
  float: right;
  display: block;
  font-size: 15px;
  color: #777;
  margin: 15px 5px;
}

.calendar-td {
  font-size: 35px;
  width: 50px ;
  height: 45px;
  padding: 8px;
  font-family:"Droid Serif", "Helvetica Neue", serif;
}

.calendar-cell {
  cursor: pointer;
}

.day-week-labels-row {
  font-size: 18px;
  font-weight: normal;
  font-family: "Droid Serif";
  color: #777;
}

.day-week-labels-row td {
  padding-bottom: 8px;
}

.day-week-labels-row td div {
}
  
.label-my {
  font-size: 67%;
  font-weight: 700;
  color: #777;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  width: 55px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

.label-my-switched {
}

.label-my-past, .label-my-future, .label-my-today, .label-my-switched {
  border: 1px solid rgba(0, 0, 0, .01);
}

.button-switch {
  float: left;
  border: none;
  background-color: rgba(0, 0, 0, .00);
  outline: none;
  width: 50px;
  height: 54px;
}

.header-buttons-panel {
  margin-right: 15px;
  float: right;
}

.header-button-wrapper {
  float: left;
  background-color: rgba(0, 0, 0, .0);
}

.button-switch:hover {
  background-color: rgba(0, 0, 0, .05);
}

.month-switcher {
  float: left;
  margin-right: 15px;
}

.month-switcher-label {
  font-size: 22px;
  float: left;
  margin: 10px 5px;
  display: block;
  color: #777;
  width: 111px;
  text-align: center;
}

.time-span-container {
  font-size: 22px;
  float: left;
  margin: 11px;
  display: block;
  color: #777;
}

.base-container {
  right: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.base-container .left, .base-container .center, .base-container .right { 
  display: inline-block; 
}

.container-calendar-wrapper {
  float: left;
  height: 313px;
}

.base-container .left { float: left; }
.base-container .right { float: right; }
.clear { clear: both; }

.clock-canvas-wrapper {
  float: left;
  border-radius: 5px;
}

.container {
  width: 575px;
}

#timeribbon-main {
  overflow-y: scroll;
}

#timeribbon-optional {
}

.container-timeribbon-wrapper {
  float: left;
  height: 700px;
}

.middle-part-divider {
  float: left;
  height: 30px;
  width: 100%;
  background-color: #777;
}

#canvas-timeribbon-main {
}

.calendar-table {
  border-radius: 20px;
  margin: 6px auto;
}

.glyphicon {
  font-size: 1.6em;
  color: #777;
}

.btn {
  vertical-align: -10px;
}

.colorpicker-container {
  margin: 6px 0;
  float:left;
}

.color-box {
  float:left;
  width:30px;
  height:30px;
  margin:5px;
  border: 1px solid white;
}

.label-my-timeperiod {
  font-size: 150%;
  font-weight: 700;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}

#time-popup {
  font-size: 22px;
}

#brand-name {
  font-size: 22px; 
}

.periods-date-text-container {
  border-radius: 2px;
}

.period-date-text {
  font-size: 22px;
  color: #777;
  text-align: center;
}

.inner-text {
  color: #444444;
  font-size: 14px;
  line-height: 25px;
  float:right;
  margin-right: 15px;
}

#modal-description-text {
  width: 100%;
  background-color: rgba(237, 237, 237, 1);
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
}

.header-glyph-button {
  margin-left: 10px;
}

.inactive {
  display: none;
}

#statistics-container {
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 25px;
  display: none;
}

.stats-cell {
  font-size: 25px;
  color: white;
  font-weight: 700;
  font-family:"Droid Serif", "Helvetica Neue", serif;
  margin: 3px 0;
}

#statistics-container .stats-cell:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#statistics-container .stats-cell:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#user-dropdown {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
}

#user-dropdown-button {
  color: #555;
}

.adminLabel {
  font-weight: bold;
}

.btn-switch-theme-left {
  margin-left: 15px;
}

.btn-switch-theme-right {
  margin-right: 15px;
}


.right-side-container {
  overflow:hidden;
  width: auto;
  height: 100%;
  border-left: 5px solid rgba(0, 0, 0, .5);
}

.charts-container {
  width: auto;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.chart-container {
  width: 90%;
  height: 100%;
  margin-left: 25px;
}

#chart_canvas {
  float: left;
}

#pie_chart {
  float: left;
}

.widget-header:first-child {
  margin-top: 25px;
}

.widget-header {
  border-radius: 5px;
  padding-left: 10px;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-family: "Droid Serif", "Helvetica Neue", serif;
  color: #777;
  float: left;
  width: 100%;
  text-align: left;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .07);
}

#my-modal-body {
  background-color: rgba(0 , 0, 0, .01);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
}

.canvas-chart {
  margin-bottom: 25px;
}

.hide-timeribbon-button-container {
  width: 20px;
  height: 100px;
  background-color: rgba(0, 0, 0, .05);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: none;
  margin-left: -3px;
  outline: none;
  display: block;
  float: left;
}

.hide-timeribbon-button-container:hover {
  background-color: rgba(0, 0, 0, .1);
}

.hide-timeribbon-button-container span {
  margin-left: -7px;
}