body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(180, 180, 180, 0.2);
}

.register-form {
  margin: auto auto;
  height: 187px;
  width: 330px;
  position: relative;
  top: 50%;
  padding: 15px;
  transform: translateY(-100%);
  color: #777;
}
.register-form .form-signin-heading,
.register-form .checkbox {
  margin-bottom: 10px;
}
.register-form .checkbox {
  font-weight: normal;
}
.register-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.register-form .form-control:focus {
  z-index: 2;
}

.help-block {
  display: none;
}

.register-form label {
  display: none;
}

.register-form .info {
  display: none;
}

#email_field input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -1px;
}

#login_field input, #rawPassword_field input  {
  margin-bottom: 0;
  border-radius: 0;
  margin-bottom: -1px;
}

#rawPasswordConfirmation_field input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 10px;
}
