@()

<h3 class="widget-header">Calendar</h3>
<div class="container-calendar-wrapper center">          
  <div class="calendar-container">
    <div class="calendar-container-inner">
      <table class="calendar-table">
        <tbody>
          <!-- drawn in calendar() function -->
        </tbody>
      </table>
    </div>
  </div>
</div>
