<div class="charts-container">
  <div class="chart-container">
    <h3 class="widget-header">Chart</h3>
    <canvas class="canvas-chart" id="chart_canvas" width="818px" height="409px">
      Your browser does not support HTML5
    </canvas>
    <canvas class="canvas-chart" id="pie_chart" width="300px" height="300px">
      Your browser does not support HTML5
    </canvas>
  </div>
</div>
