@(user: User)

<header>
  <div class="navbar-header my-navbar-header">
    <a class="my-navbar-brand" href="/">
      <span class="glyphicon glyphicon-time header-logo-image"></span>
      <span class="header-logo-text">Ploit</span>
    </a>
  </div>

  <div class="header-button-wrapper" id="set-defaults-button-wrapper">
    <button type="button" id="month-switch-left" class="button-switch">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    </div>
    <span class="month-switcher-label"></span>
    <div class="header-button-wrapper" id="set-defaults-button-wrapper">
    <button type="button" id="month-switch-right" class="button-switch">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>

  <div class="digital-clock-container">
    <span class="time-span-container"></span>
  </div>

  <div class="month-switcher text-center">
    <div class="header-button-wrapper">
      <button type="button" id="button-switch-theme-left" class="button-switch">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <div class="colorpicker-container">
      <div class="color-box" id="picker1"></div>
      <div class="color-box" id="picker2"></div>
      <div class="color-box" id="picker3"></div>
      <div class="color-box" id="picker4"></div>
    </div>
    <div class="header-button-wrapper">
      <button type="button" id="button-switch-theme-right" class="button-switch">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>

  <div class="header-buttons-panel">
    <div class="header-button-wrapper" id="set-defaults-button-wrapper">
      <button id="set-defaults-button" type="button" class="button-switch">
        <span class="glyphicon glyphicon-floppy-remove"></span>
      </button>
    </div>
    <div class="header-button-wrapper">
      <button id="switch-current-time-button" type="button" id="play_button" class="button-switch">
        <span class="glyphicon glyphicon-play"></span>
      </button>
    </div>
    <div class="header-button-wrapper">
      <div class="btn-group">
        <button type="button" class="button-switch" data-toggle="dropdown" aria-expanded="false">
          <span class="glyphicon glyphicon-th"></span>
        </button>
        <ul id="burger-dropdown" class="dropdown-menu dropdown-toggle dropdown-menu-right" role="menu">
          <li><a href="#">@user.email</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a id="delete-switched-date-events-button" href="#">Remove switched date events</a></li>
          <li><a href="#"><label id="analog-clock-switch-checkbox-label"><input type="checkbox" id="analog-clock-switch-checkbox" value="">Turn on analog clock</label></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>