<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="my-modal-content" class="modal-content">
      <div id="my-modal-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Adding period:</h4>
      </div>
      <div id="my-modal-body" class="modal-body">
        <div class="periods-date-text-container"></div>
        <textarea id="modal-description-text"></textarea>
        <div class="attached_tags_container">
        </div>
        <div class="btn-group" id="tag_dropdown_parent">
          <button id="attach-tags-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Attach tags <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="tag_dropdown" role="menu">
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" id="close-period" data-dismiss="modal">Close</button>
        <button type="button" class="modal-button modal-save-button" id="save-period">Save changes</button>
      </div>
    </div>
  </div>
</div>
