<div id="statistics-container">
  <div class="stats-cell" id="period_hours_to_24"></div>
  <div class="stats-cell" id="period_hours_to_lazy_hours"></div>
  <div class="stats-cell" id="percent_work_hours"></div>
</div>
