<button type="button" id="hide-timeribbon-button" class="hide-timeribbon-button-container">
    <span class="glyphicon glyphicon-chevron-left"></span>
</button>
<div id="timeribbon-main" class="container-timeribbon-wrapper left">
  <canvas id="canvas-timeribbon-main" width="1000px" height="1500">
    Your browser does not support html5 canvas. Please upgrade.
  </canvas>
</div>
